*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-color:rgb(234,237,237);
}
.header{
  height: 60px;
  display: flex;
  align-items: center;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header__logo{
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}
.header__searchIcon{
  padding:5px;
  height:24px !important;
  background-color: #cd9042;
  justify-content: center;
}
.header__search{
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
  align-items: center;
}
.header__searchInput{
  width: 75%;
  height: 24px;
  border: none;
  border: 1px solid;
  border-color: white;
}
.header__nav{
  display: flex;
  justify-content: space-evenly;
}
.header__option{
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  
  color: white;
}
.header__optionLineOne{
  font-size: 10px;
}
.header__optionLineTwo{
  font-size: 10px;
  font-weight: 800;
}
.header__optionBasket{
  display: flex;
  align-items: center;
  color: white;
}
.header__basketCount{
  font-size: 20px;
  margin-left: 10px;
  margin-right: 20px;
  font-weight: 700;
}
.home__image {
  width: 100%;
  z-index: -1;
  margin-bottom: -150px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.product{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
}
.product > img{
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}
.product__info{
  height: 100px;
  margin-bottom: 15px;
}
.product__price{
  margin-top: 5px;
}
.product >button{
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #f0c14b;
  color: #111;
}
.home{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}
.home__row{
  display: flex;
  
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;

}
.product__rating{
  display: flex;
}
.checkout__ad{
  width: 100%;
  margin-bottom: 10px;
}
.checkout{
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
}
.checkout__title{
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}
.subtotal{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 100px;
  padding: 20px;
  border-radius: 3px;
  border: 1px solid #dddddd;
  background-color: #f3f3f3;
}
.subtotal__gift{
  display: flex;
  align-items: center;
}
.subtotal>button{
  background: #f0c14b;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  border-color: #a88734;
  color: #111;
}
.login {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__logo {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}
.login__container{
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding: 20px;
}
.login__container >form> h5{
  margin-bottom: 5px;
}
.login__container >form>input{
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
}
.login__container > p {
  margin-top: 15px;
  font-size: 12px;
}
.login__signInButton{
  margin-top: 10px;
  width: 100%;
  height: 30px;
  border-radius: 2px;
  background: #f0c14b;
  border-color: #a88734 #9c7e31 #846a29;
}
.login__registerButton {
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: darkgray;
}
  






  
  
  
